[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"oauth2client" = "*"
apiclient = "*"
google-api-python-client = "*"
datefinder = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
