.top-buffer {
  margin-top: 1em;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  height: 100%;
  padding-bottom: 6rem;
}
